$first-media: 772px;

.share-modal {
  &__title {
    text-align: center;
    margin: 0;
  }

  &__copy-menu {
    margin: 1.5rem 0;
  }

  &__share-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $first-media) {
      flex-direction: column;
    }
  }

  &__link {
    color: var(--card-background-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 1rem;

    &:hover {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    }

    @media (max-width: $first-media) {
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
    }
  }
  &__icon {
    color: #fff;
    font-size: 1.4rem;
  }
}
