$first-media: 852px;
$second-media: 554px;

.contact {
  &__form-section {
  }

  &__title {
    margin-top: 0;
  }

  &__icon {
    color: #fff;
    font-size: 20rem;
    display: block;
    margin: 0 auto;

    @media (max-width: $first-media) {
      display: none;
    }
  }

  &__form-container {
    @media (max-width: $first-media) {
      text-align: left;
      width: 70%;
    }
    @media (max-width: $second-media) {
      width: 100%;
    }
  }
}
