$first-media: 1234px;
$second-media: 1048px;
$third-media: 852px;
$mobile-devices: 425px;

.not-found {
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-devices) {
    height: calc(100vh - 2rem - 4rem);
  }

  &__title {
    @media (max-width: $third-media) {
      margin-bottom: 0.5rem;
    }
  }
  &__description {
    font-size: 1.4rem;
    line-height: 1.4;

    @media (max-width: $first-media) {
      font-size: 1.2rem;
    }
    @media (max-width: $second-media) {
      font-size: 1rem;
    }
  }
  &__illustration {
    width: 100%;
    object-fit: contain;

    @media (max-width: $third-media) {
      width: 250px;
      height: 250px;
    }
  }
}
