$mobile-devices: 425px;

.main {
  display: flex;

  @media (max-width: $mobile-devices) {
    flex-direction: column;
  }
}

.content-wrapper {
  padding: 1rem;
  flex: 1;
  overflow-y: scroll;
  height: calc(100vh - 2rem);

  @media (max-width: $mobile-devices) {
    height: calc(
      100vh - 2rem - 4rem
    );
  }
}
