$first-media: 1234px;
$second-media: 1048px;
$third-media: 852px;
$fourth-media: 592px;
$mobile-devices: 425px;

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &.fade-in {
    .info-section__left,
    .info-section__right {
      transition: var(--transition-on);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: $third-media) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__left,
  &__right {
    width: 40%;
    transition: var(--transition-off);

    @media (max-width: $third-media) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @media (max-width: $third-media) {
      width: 55%;
    }
    @media (max-width: $fourth-media) {
      width: 75%;
    }
  }

  &__left {
    transform: translateX(-100%);
    opacity: 0;
  }

  &__right {
    transform: translateX(100%);
    opacity: 0;
  }
}
