.button {
  cursor: pointer;
  border: none;

  &.primary {
    padding: 1.5rem calc(var(--default-padding) * 4);
    background-color: var(--color-details);
    color: var(--headline-color);
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 3px;
  }

  &.mini {
  }
}
