.button {
  cursor: pointer;
  border: none;

  &.primary {
    padding: 1.5rem 4rem;
    background-color: var(--color-details);
    color: var(--button-text);
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: var(--default-border-radius);

    &:disabled {
      background-color: var(--color-disabled);
    }
  }

  &.mini {
  }
}
