$mobile-devices: 425px;

.nav-tab {
  padding: 1rem;
  text-decoration: none;
  transition: var(--transition-off);

  &:hover,
  &:focus {
    transition: var(--transition-on);
    background-color: var(--card-background-color);

    .nav-tab__icon {
      color: var(--headline-color);
    }
  }

  &.active {
    transition: var(--transition-on);
    background-color: var(--color-details);

    .nav-tab__icon,
    .nav-tab__title {
      color: var(--headline-color);
    }
  }

  @media (max-width: $mobile-devices) {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
  }

  &__icon {
    font-size: 2rem;
    color: var(--paragraph-color);

    @media (max-width: $mobile-devices) {
      margin-right: 1rem;
    }
  }

  &__title {
    display: none;

    @media (max-width: $mobile-devices) {
      display: inline;
      color: var(--paragraph-color);
    }
  }
}
