$first-media: 609px;
$second-media: 374px;

.career-event {
  background-color: var(--card-background-color);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: var(--default-border-radius);
  transition: var(--transition-off);
  transform: translateX(100%);
  opacity: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -3.5rem;
    transform: translate(-50%, -50%);
    height: 3.5rem;
    width: 3.5rem;
    border: 0.5rem solid var(--color-details);
    background-color: var(--doc-background-color);
    border-radius: 50%;
  }

  &.fade-in {
    transition: var(--transition-on);
    transform: translateX(0);
    opacity: 1;
  }

  &.irrelevant {
    margin-left: 4rem;

    &::before {
      border-radius: 0px;
      border: none;
      height: 1rem;
      width: 2rem;
      background-color: var(--color-details);
    }
  }

  @media (max-width: $first-media) {
    &::before {
      height: 2.5rem;
      width: 2.5rem;
      left: -2.5rem;
      border-width: 0.25rem;
    }

    &.irrelevant {
      margin-left: 3rem;

      &::before {
        height: 0.5rem;
        width: 1.5rem;
      }
    }
  }
  @media (max-width: $second-media) {
    &::before {
      height: 1.5rem;
      width: 1.5rem;
      left: -2rem;
    }

    &.irrelevant {
      margin-left: 1.75rem;

      &::before {
        left: -1.75rem;
        height: 0.5rem;
        width: 1rem;
      }
    }
  }

  &__content {
    margin-bottom: 1rem;
  }
  &__title {
    margin: 0;
    line-height: 1.4;
  }
  &__description {
    line-height: 1.6;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;

    &_data-container {
      display: flex;
      align-items: center;
      line-height: 1.4;

      &:first-child {
        margin-right: 1rem;
      }
    }
    &_icon {
      margin-right: 0.5rem;
    }
  }
}
