$first-media: 1108px;
$second-media: 772px;
$mobile-devices: 425px;

.project-card {
  width: calc(100% / 3 - 2.7rem);
  padding: 1rem;
  border-radius: var(--default-border-radius);
  background-color: var(--card-background-color);
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $first-media) {
    width: calc(100% / 2 - 2.7rem);

    &:nth-child(3n) {
      margin-right: 1rem;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: $second-media) {
    margin-right: 0;
    width: 100%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.expanded {
    box-shadow: none;
    transform: none;
    position: fixed;
    cursor: auto;
    z-index: 10;
    top: 0;
    left: 4rem;
    width: calc(100% - 6rem);
    height: calc(100vh - 2rem);
    overflow-y: auto;

    @media (max-width: $mobile-devices) {
      left: 0;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
    }
  }

  &__content {
    &.expanded {
      display: flex;

      @media (max-width: $second-media) {
        flex-direction: column;
      }
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: top;

    &.expanded {
      height: 100%;
      object-fit: contain;
    }

    &-container {
      width: 100%;
      margin-bottom: 1rem;

      &.expanded {
        width: 40%;
        margin-bottom: 0;
        margin-right: 1rem;

        @media (max-width: $second-media) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__text-content {
    &.expanded {
      width: 60%;

      @media (max-width: $second-media) {
        width: 100%;
      }
    }
  }

  &__title-wrapper {
    &.expanded {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    color: var(--headline-color);
    font-weight: 700;
    margin: 0;
    margin-right: 1rem;
  }

  &__short-description {
    line-height: 1.4;
    margin-bottom: 0;
  }

  &__description-container {
  }

  &__full-description {
    line-height: 1.6;
    white-space: pre-wrap;
  }

  &__description-list {
    &_item {
      margin-bottom: 1rem;

      dt {
        font-weight: 700;
        color: var(--headline-color);
        margin-bottom: 0.5rem;
      }
      dd {
        margin-left: 0;
        line-height: 1.6;
      }
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    margin-right: 1rem;
  }
}
