@keyframes fade-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.snackbar-message {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--default-border-radius);
  color: #fff;
  max-width: 300px;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &.info {
    background-color: var(--color-info);
    color: #000;
  }

  &.success {
    background-color: var(--color-success);
  }

  &.warning {
    background-color: var(--color-warning);
  }

  &.danger {
    background-color: var(--color-danger);
  }
}
