.bookcase {
  border-right: 1rem solid black;
  border-left: 1rem solid black;
  padding-bottom: 1rem;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  //   &__shelf {
  //     height: 10rem;
  //     border-bottom: 0.5rem solid black;
  //     display: flex;
  //     align-items: flex-end;
  //   }
}
