$first-media: 852px;
$mobile-devices: 425px;

.contact-form {
  width: 100%;

  @media (max-width: $mobile-devices) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    @media (max-width: $mobile-devices) {
      width: 100%;
    }
  }

  &__status {
    @media (max-width: $first-media) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &_title {
      line-height: 1.6;

      @media (max-width: $first-media) {
        text-align: center;
      }
    }
  }
}
