$first-media: 609px;
$second-media: 374px;

.experience-liana {
  border-left: 1rem solid var(--color-details);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  padding-left: 3rem;

  @media (max-width: $first-media) {
    margin-left: 1rem;
    padding-left: 2rem;
  }
  @media (max-width: $second-media) {
    margin-left: 0.75rem;
    padding-left: 1.75rem;
    border-width: 0.5rem;
  }
}
