$mobile-devices: 425px;

.header {
  display: none;

  @media (max-width: $mobile-devices) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--default-padding);
    background-color: var(--card-background-color);
    position: sticky;
    top: 0;
    z-index: 100;
  }
}
