$mobile-devices: 425px;

.header {
  display: none;

  @media (max-width: $mobile-devices) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--card-background-color);
  }
}
