$first-media: 1234px;
$second-media: 1048px;
$third-media: 852px;
$fourth-media: 592px;
$mobile-devices: 425px;

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: $third-media) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__left {
    width: 40%;

    @media (max-width: $third-media) {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @media (max-width: $fourth-media) {
      width: 75%;
    }
  }
  &__right {
    width: 40%;

    @media (max-width: $third-media) {
      // order: -1;
      width: 45%;
    }
    @media (max-width: $fourth-media) {
      width: 60%;
    }
  }
}
