$first-media: 1234px;
$second-media: 1048px;
$mobile-devices: 425px;
$fourth-media: 374px;

.languages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // 100vh - title's size - title's margin
  grid-template-rows: repeat(
    2,
    calc(100vh / 2 - var(--default-padding) * 3.6 - var(--default-padding))
  );
  gap: var(--default-padding);

  @media (max-width: $first-media) {
    grid-template-rows: repeat(
      2,
      calc(100vh / 2 - var(--default-padding) * 3.25 - var(--default-padding))
    );
  }
  @media (max-width: $second-media) {
    grid-template-rows: repeat(
      2,
      calc(100vh / 2 - var(--default-padding) * 2.75 - var(--default-padding))
    );
  }
  @media (max-width: $mobile-devices) {
    grid-template-rows: repeat(
      2,
      calc(
        100vh / 2 - var(--default-padding) * 2.75 - var(--default-padding) -
          var(--default-padding) * 2
      )
    );
  }
  @media (max-width: $fourth-media) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(
      4,
      calc(
        100vh / 2 - var(--default-padding) * 2.75 - var(--default-padding) -
          var(--default-padding) * 2
      )
    );
  }
}
