$first-media: 1234px;
$second-media: 1048px;
$third-media: 630px;

.languages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // 100vh - title's size - title's margin - header's height
  grid-template-rows: repeat(2, calc(100vh / 2 - 3.6rem - 1rem));
  gap: 1rem;

  @media (max-width: $first-media) {
    grid-template-rows: repeat(2, calc(100vh / 2 - 3.25rem - 1rem));
  }
  @media (max-width: $second-media) {
    grid-template-rows: repeat(2, calc(100vh / 2 - 2.75rem - 1rem));
  }
  @media (max-width: $third-media) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, calc(100vh / 2 - 2.75rem - 1rem - 2rem));
  }
}
