$first-media: 828px;
$second-media: 662px;

.projects-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  &__title {
    text-align: center;

    @media (max-width: $first-media) {
      width: 100%;
      order: -1;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .form-field-container {
    &:first-child {
      @media (max-width: $first-media) {
        margin-right: 1rem;
      }
      @media (max-width: $second-media) {
        margin-right: 0;
      }
    }

    @media (max-width: $second-media) {
      width: 100%;
    }
  }
}
