$mobile-devices: 425px;

.aside {
  // min-height: 100vh;
  border-right: 4px solid var(--card-background-color);

  @media (max-width: $mobile-devices) {
    position: fixed;
    z-index: 100;
    border-right: none;
    background-color: var(--card-background-color);
    align-items: flex-start;
    min-height: 100vh;
    transform: translate(-100%, calc(var(--default-padding) * 4));
    transition: var(--transition-off);

    &.active {
      transition: var(--transition-on);
      transform: translate(0, calc(var(--default-padding) * 4));
    }

    // .aside__content {
    //   position: relative;
    // }
  }

  &__content {
    display: flex;
    flex-direction: column;
    // position: sticky;
    // top: 0;
  }
}
