$mobile-devices: 425px;

.aside {
  border-right: 4px solid var(--card-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @media (max-width: $mobile-devices) {
    overflow-y: auto;
    height: 100vh;
    position: fixed;
    z-index: 100;
    border-right: none;
    background-color: var(--card-background-color);
    align-items: flex-start;
    transform: translateX(-100%);
    transition: var(--transition-off);
    border-right: 2px solid var(--color-details);

    &.active {
      transition: var(--transition-on);
      transform: translateX(0);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__theme-switch {
    @media (max-width: $mobile-devices) {
      display: none;
    }
  }
}
