$first-media: 1024px;

.skills-table {
  &__title {
    text-align: left;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__caption {
    @media (max-width: $first-media) {
      margin-bottom: 2rem;
    }
  }

  &__head {
    th {
      position: relative;
      padding: 0;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        @media (max-width: $first-media) {
          font-size: 0;
        }

        .skills-table__scale-name {
          @media (max-width: $first-media) {
            font-size: 0;
            background-color: unset;
            padding: 0;
          }
        }
      }
    }
  }

  &__body {
    tr {
      position: relative;
      transition: var(--transition-off);

      &:hover,
      &:focus {
        transition: var(--transition-on);

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: -1rem;
          z-index: -1;
          width: calc(100% + 2rem);
          background-color: var(--card-background-color);
          height: 80px;

          @media (max-width: $first-media) {
            height: 57px;
          }
        }
      }
    }

    td {
      padding: 0;

      @media (max-width: $first-media) {
        padding: 1px;
        width: calc(100% / 6); // 6 columns
      }
    }
  }

  &__scale-name {
    text-align: left;
    width: 60%;
    padding: 1rem;
    background-color: var(--color-details);
    color: var(--button-text);
    border-radius: var(--default-border-radius);
    border-bottom-left-radius: 0px;

    @media (max-width: $first-media) {
      color: var(--headline-color);
      width: 100%;
      background-color: unset;
      position: absolute;
      top: -2.5rem;
      left: 0;
      text-align: center;
      padding: 1rem 0;
    }
  }

  &__skill-name {
    font-weight: 700;
    width: 60%;
    padding: 1rem;
    color: var(--headline-color);

    &.relevant {
      &::after {
        content: "*";
        color: var(--color-details);
        margin-left: 0.5rem;
        font-size: 1.4rem;
      }
    }

    @media (max-width: $first-media) {
      padding-left: 0;
    }
  }

  &__skill-level-cell {
    border-left: 1px solid var(--color-details);

    @media (max-width: $first-media) {
      border-left: none;
    }
  }

  &__filled-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @media (max-width: $first-media) {
      padding: 0.5rem;
      background-color: var(--color-details);
    }

    &_icon {
      font-size: 3rem;

      @media (max-width: $first-media) {
        display: none;
      }
    }
  }
}
