$first-media: 1024px;
$second-media: 534px;

.skills-table {
  &__title {
    text-align: left;
  }

  &__table {
    width: calc(100% + 2rem);
    border-collapse: collapse;
    margin: 0 -1rem;
  }

  &__caption {
    margin-left: 1rem;

    @media (max-width: $first-media) {
      margin-bottom: 2rem;
    }
  }

  &__head {
    th {
      position: relative;
      padding: 0;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        @media (max-width: $first-media) {
          font-size: 0;
        }

        .skills-table__scale-name {
          @media (max-width: $first-media) {
            font-size: 0;
            background-color: unset;
            padding: 0;
          }
        }
      }

      &:last-child {
        .skills-table__scale-name {
          @media (max-width: $second-media) {
            left: -1rem;
          }
        }
      }
    }
  }

  &__body {
    tr {
      position: relative;
      transition: var(--transition-off);

      &:hover,
      &:focus {
        transition: var(--transition-on);
        background-color: var(--card-background-color);
      }
    }

    td {
      padding: 0;

      @media (max-width: $first-media) {
        padding: 1px;
        width: calc(100% / 6); // 6 columns
      }
    }
  }

  &__scale-name {
    text-align: left;
    width: 60%;
    padding: 1rem;
    background-color: var(--color-details);
    color: var(--button-text);
    border-radius: var(--default-border-radius);
    border-bottom-left-radius: 0px;

    @media (max-width: $first-media) {
      color: var(--headline-color);
      width: 100%;
      background-color: unset;
      position: absolute;
      top: -2.5rem;
      left: 0;
      text-align: center;
      padding: 1rem 0;
    }
  }

  &__skill-name {
    font-weight: 700;
    width: 60%;
    padding: 1rem;
    margin-left: 1rem;
    color: var(--headline-color);

    &.relevant {
      &::after {
        content: "*";
        color: var(--color-details);
        margin-left: 0.5rem;
        font-size: 1.4rem;
      }
    }

    @media (max-width: $first-media) {
      padding-left: 0;
    }
  }

  &__skill-level-cell {
    border-left: 1px solid var(--color-details);

    &:last-child {
      padding-left: 1rem;

      @media (max-width: $first-media) {
        padding-left: 0;
        padding-right: 1rem;
      }
    }

    @media (max-width: $first-media) {
      border-left: none;
    }
  }

  &__filled-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transform: scale(0);
    animation: appear 300ms linear 0s 1 normal forwards;

    &.level-2 {
      animation-delay: 300ms;
    }
    &.level-3 {
      animation-delay: calc(300ms * 2);
    }
    &.level-4 {
      animation-delay: calc(300ms * 3);
    }
    &.level-5 {
      animation-delay: calc(300ms * 4);
    }

    @media (max-width: $first-media) {
      transform: scale(1);
      animation: grow-right 300ms linear 0s 1 normal forwards,
        padding-on 0s steps(1) 0s 1 normal forwards;
      padding: 0;
      background-color: var(--color-details);
      box-sizing: border-box;

      &.level-2 {
        animation-delay: 300ms;
      }
      &.level-3 {
        animation-delay: calc(300ms * 2);
      }
      &.level-4 {
        animation-delay: calc(300ms * 3);
      }
      &.level-5 {
        animation-delay: calc(300ms * 4);
      }
    }

    &_icon {
      font-size: 3rem;

      @media (max-width: $first-media) {
        display: none;
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-right {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    padding: 0.5rem;
  }
}

@keyframes padding-on {
  0% {
    padding: 0;
  }
  100% {
    padding: 0.5rem;
  }
}
