// normalize.css
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");

:root {
  // system colors
  --color-danger: red;
  // fonts
  --font-family: "Montserrat", sans-serif;
  // animations
  --transition-off: 0.1s;
  --transition-on: 0.2s;
  // structuring
  --default-padding: 1rem;
}

body {
  transition: var(--transition-on);

  &.light {
    // light theme
    --doc-background-color: #fffffe;
    --card-background-color: #d1d1e9;
    --headline-color: #2b2c34;
    --paragraph-color: #2b2c34;
    --button-text: #fffffe;
    --color-details: #6246ea;
  }

  &.dark {
    // dark theme
    --doc-background-color: #242629;
    --card-background-color: #16161a;
    --headline-color: #fffffe;
    --paragraph-color: #94a1b2;
    --button-text: #fffffe;
    --color-details: #7f5af0;
  }

  background-color: var(--doc-background-color);
  color: var(--paragraph-color);
  font-family: var(--font-family);
}

.hover-animation {
  transition: var(--transition-off);

  &:focus,
  &:hover {
    box-shadow: 0 5px 15px var(--card-background-color);
    transform: translateY(-5px);
    transition: var(--transition-on);
  }

  &:active {
    transform: scale(0.99);
  }
}
