// normalize.css
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");

:root {
  // system colors
  --color-danger: red;
  // fonts
  --font-family: "Montserrat", sans-serif;
  // animations
  --transition-off: 0.1s;
  --transition-on: 0.2s;
  // structuring
  --default-border-radius: 3px;
}

body {
  transition: var(--transition-on);

  &.light {
    // light theme
    --doc-background-color: #fffffe;
    --card-background-color: #eff0f3;
    --headline-color: #0d0d0d;
    --paragraph-color: #2a2a2a;
    --button-text: #fffffe;
    --color-details: #ff8e3c;
    --color-disabled: rgba(255, 142, 60, 0.5);
  }

  &.dark {
    // dark theme
    --doc-background-color: #242629;
    --card-background-color: #16161a;
    --headline-color: #fffffe;
    --paragraph-color: #94a1b2;
    --button-text: #fffffe;
    --color-details: #7f5af0;
    --color-disabled: rgba(127, 90, 240, 0.3);
  }

  background-color: var(--doc-background-color);
  color: var(--paragraph-color);
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--headline-color);
}

p {
  color: var(--paragraph-color);
}

.hover-animation {
  transition: var(--transition-off);

  &:focus,
  &:hover {
    box-shadow: 0 5px 15px var(--card-background-color);
    transform: translateY(-5px);
    transition: var(--transition-on);
  }

  &:active {
    transform: scale(0.99);
  }
}

$mobile-devices: 425px;

.hide-on-mobile {
  @media (max-width: $mobile-devices) {
    display: none;
  }
}
